Lab3/Config/config.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
	 <xs:element name = 'configurations'>
		<xs:complexType>
			<xs:sequence>
				<xs:element name = 'configuration' type = 'ConfigurationType' minOccurs="0" maxOccurs = 'unbounded'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name = "ConfigurationType">
		<xs:sequence>
			<xs:element name = 'archivePath' type = 'xs:string'/>
			<xs:element name = 'sourcePath' type = 'xs:string'/>
			<xs:element name = 'targetPath' type = 'xs:string'/>
		</xs:sequence>
		<xs:attribute name = 'name' type = 'xs:string'/>
	</xs:complexType>
</xs:schema>

